-- MySQL dump 10.13  Distrib 8.4.7, for Win64 (x86_64)
--
-- Host: localhost    Database: tmacken_sys
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('5e5e88522b75');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `id_client` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prenom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telephone` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `adresse` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_creation` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `id_utilisateur` int NOT NULL,
  PRIMARY KEY (`id_client`),
  KEY `fk_client_user` (`id_utilisateur`),
  CONSTRAINT `fk_client_user` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_proforma`
--

DROP TABLE IF EXISTS `detail_proforma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_proforma` (
  `id_detail_proforma` int NOT NULL AUTO_INCREMENT,
  `id_proforma` int NOT NULL,
  `id_produit` int NOT NULL,
  `prix_unitaire` decimal(10,2) NOT NULL,
  `quantite` int NOT NULL,
  `sous_total` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_detail_proforma`),
  KEY `id_produit` (`id_produit`),
  KEY `id_proforma` (`id_proforma`),
  KEY `ix_detail_proforma_id_detail_proforma` (`id_detail_proforma`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_proforma`
--

LOCK TABLES `detail_proforma` WRITE;
/*!40000 ALTER TABLE `detail_proforma` DISABLE KEYS */;
INSERT INTO `detail_proforma` VALUES (1,1,4,350.00,1,350.00),(2,2,1,999.99,1,999.99),(3,2,5,50.00,1,50.00),(4,3,2,1299.99,1,1299.99),(5,3,6,200.00,2,400.00),(6,4,4,350.00,1,350.00);
/*!40000 ALTER TABLE `detail_proforma` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_reservation`
--

DROP TABLE IF EXISTS `detail_reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_reservation` (
  `id_detail_reservation` int NOT NULL,
  `id_reservation` int NOT NULL,
  `id_produit` int NOT NULL,
  `prix_unitaire` decimal(10,2) NOT NULL,
  `quantite` int NOT NULL,
  PRIMARY KEY (`id_reservation`,`id_produit`),
  KEY `fk_detail_reservation_produit` (`id_produit`),
  CONSTRAINT `fk_detail_reservation_produit` FOREIGN KEY (`id_produit`) REFERENCES `produit` (`id_produit`),
  CONSTRAINT `fk_detail_reservation_reservation` FOREIGN KEY (`id_reservation`) REFERENCES `reservation` (`id_reservation`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_reservation`
--

LOCK TABLES `detail_reservation` WRITE;
/*!40000 ALTER TABLE `detail_reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_vente`
--

DROP TABLE IF EXISTS `detail_vente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_vente` (
  `id_detail_vente` int NOT NULL AUTO_INCREMENT,
  `id_vente` int NOT NULL,
  `id_produit` int NOT NULL,
  `prix_unitaire` decimal(10,2) NOT NULL,
  `quantite` int NOT NULL,
  PRIMARY KEY (`id_detail_vente`),
  UNIQUE KEY `uq_vente_produit` (`id_vente`,`id_produit`),
  KEY `fk_detail_vente_produit` (`id_produit`),
  CONSTRAINT `fk_detail_vente_produit` FOREIGN KEY (`id_produit`) REFERENCES `produit` (`id_produit`),
  CONSTRAINT `fk_detail_vente_vente` FOREIGN KEY (`id_vente`) REFERENCES `vente` (`id_vente`)
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_vente`
--

LOCK TABLES `detail_vente` WRITE;
/*!40000 ALTER TABLE `detail_vente` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_vente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mouvement_stock`
--

DROP TABLE IF EXISTS `mouvement_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mouvement_stock` (
  `id_mouvement` int NOT NULL AUTO_INCREMENT,
  `type_mouvement` enum('ENTREE','SORTIE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantite` int NOT NULL,
  `date_mouvement` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `motif` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_produit` int NOT NULL,
  `id_utilisateur` int NOT NULL,
  PRIMARY KEY (`id_mouvement`),
  KEY `fk_mouvement_user` (`id_utilisateur`),
  KEY `fk_mouvement_produit` (`id_produit`),
  CONSTRAINT `fk_mouvement_produit` FOREIGN KEY (`id_produit`) REFERENCES `produit` (`id_produit`),
  CONSTRAINT `fk_mouvement_user` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mouvement_stock`
--

LOCK TABLES `mouvement_stock` WRITE;
/*!40000 ALTER TABLE `mouvement_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `mouvement_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paiement`
--

DROP TABLE IF EXISTS `paiement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paiement` (
  `id_paiement` int NOT NULL AUTO_INCREMENT,
  `date_paiement` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `montant` decimal(10,2) NOT NULL,
  `mode_paiement` enum('ESPECES','CARTE','VIREMENT','CHEQUE','AUTRE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_vente` int DEFAULT NULL,
  `id_utilisateur` int NOT NULL,
  `id_reservation` int DEFAULT NULL,
  PRIMARY KEY (`id_paiement`),
  KEY `fk_paiement_vente` (`id_vente`),
  KEY `fk_paiement_utilisateur` (`id_utilisateur`),
  KEY `fk_paiement_reservation` (`id_reservation`),
  CONSTRAINT `fk_paiement_reservation` FOREIGN KEY (`id_reservation`) REFERENCES `reservation` (`id_reservation`),
  CONSTRAINT `fk_paiement_utilisateur` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`),
  CONSTRAINT `fk_paiement_vente` FOREIGN KEY (`id_vente`) REFERENCES `vente` (`id_vente`),
  CONSTRAINT `chk_paiement_montant` CHECK ((`montant` > 0)),
  CONSTRAINT `ck_paiement_une_seule_transaction` CHECK ((((`id_vente` is not null) and (`id_reservation` is null)) or ((`id_vente` is null) and (`id_reservation` is not null)))),
  CONSTRAINT `ck_paiement_vente_ou_reservation` CHECK ((((`id_vente` is not null) and (`id_reservation` is null)) or ((`id_vente` is null) and (`id_reservation` is not null))))
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paiement`
--

LOCK TABLES `paiement` WRITE;
/*!40000 ALTER TABLE `paiement` DISABLE KEYS */;
/*!40000 ALTER TABLE `paiement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parametre`
--

DROP TABLE IF EXISTS `parametre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parametre` (
  `id_parametre` int NOT NULL AUTO_INCREMENT,
  `nom_entreprise` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `adresse` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `devise` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `seuil_alerte_global` int NOT NULL,
  `date_mise_a_jour` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_parametre`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parametre`
--

LOCK TABLES `parametre` WRITE;
/*!40000 ALTER TABLE `parametre` DISABLE KEYS */;
INSERT INTO `parametre` VALUES (1,'Tmacken','Cap-Haitien','36354709','contact@tmacken.com','HTG',5,'2026-08-30 01:00:26');
/*!40000 ALTER TABLE `parametre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produit`
--

DROP TABLE IF EXISTS `produit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `produit` (
  `id_produit` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `prix` decimal(10,2) NOT NULL,
  `seuil_alerte` int NOT NULL,
  `statut` tinyint(1) NOT NULL,
  PRIMARY KEY (`id_produit`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produit`
--

LOCK TABLES `produit` WRITE;
/*!40000 ALTER TABLE `produit` DISABLE KEYS */;
INSERT INTO `produit` VALUES (1,'iPhone 17 Air','Smartphone Apple nouvelle g├⌐n├⌐ration',1000.04,5,1),(2,'Samsung Galaxy S26 Ultra','Smartphone Samsung haut de gamme',1299.99,5,1),(4,'tablette',NULL,350.05,4,1),(5,'airpod','nice',50.00,5,1),(6,'pc',NULL,200.00,5,1);
/*!40000 ALTER TABLE `produit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proforma`
--

DROP TABLE IF EXISTS `proforma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proforma` (
  `id_proforma` int NOT NULL AUTO_INCREMENT,
  `numero_proforma` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_creation` datetime NOT NULL,
  `date_validite` date DEFAULT NULL,
  `id_client` int NOT NULL,
  `id_utilisateur` int NOT NULL,
  `statut` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rabais` decimal(10,2) NOT NULL,
  `type_rabais` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_proforma`),
  UNIQUE KEY `ix_proforma_numero_proforma` (`numero_proforma`),
  KEY `id_client` (`id_client`),
  KEY `id_utilisateur` (`id_utilisateur`),
  KEY `ix_proforma_id_proforma` (`id_proforma`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proforma`
--

LOCK TABLES `proforma` WRITE;
/*!40000 ALTER TABLE `proforma` DISABLE KEYS */;
INSERT INTO `proforma` VALUES (1,'PF-000001','2026-09-29 04:12:25','2026-09-29',4,1,'ANNULEE',0.00,'MONTANT',350.00),(2,'PF-000002','2026-09-29 04:26:52','2026-09-01',4,1,'ANNULEE',49.00,'MONTANT',1000.99),(3,'PF-000003','2026-09-29 04:41:37','2026-09-16',8,1,'ANNULEE',600.00,'MONTANT',1099.99),(4,'PF-000004','2026-09-29 05:06:46','2026-09-17',4,1,'BROUILLON',0.00,'MONTANT',350.00);
/*!40000 ALTER TABLE `proforma` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation`
--

DROP TABLE IF EXISTS `reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservation` (
  `id_reservation` int NOT NULL AUTO_INCREMENT,
  `date_reservation` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `statut` enum('EN_ATTENTE','CONFIRMEE','ANNULEE','TERMINEE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_client` int NOT NULL,
  `id_utilisateur` int NOT NULL,
  `rabais` decimal(10,2) NOT NULL DEFAULT '0.00',
  `type_rabais` enum('MONTANT','POURCENTAGE') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'MONTANT',
  PRIMARY KEY (`id_reservation`),
  KEY `fk_reservation_client` (`id_client`),
  KEY `fk_reservation_user` (`id_utilisateur`),
  CONSTRAINT `fk_reservation_client` FOREIGN KEY (`id_client`) REFERENCES `client` (`id_client`),
  CONSTRAINT `fk_reservation_user` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation`
--

LOCK TABLES `reservation` WRITE;
/*!40000 ALTER TABLE `reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock`
--

DROP TABLE IF EXISTS `stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock` (
  `id_stock` int NOT NULL AUTO_INCREMENT,
  `quantite` int NOT NULL,
  `date_mise_a_jour` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `id_produit` int NOT NULL,
  PRIMARY KEY (`id_stock`),
  UNIQUE KEY `id_produit` (`id_produit`),
  CONSTRAINT `fk_stock_produit` FOREIGN KEY (`id_produit`) REFERENCES `produit` (`id_produit`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock`
--

LOCK TABLES `stock` WRITE;
/*!40000 ALTER TABLE `stock` DISABLE KEYS */;
INSERT INTO `stock` VALUES (1,20,'2026-08-26 23:37:24',1),(2,99,'2026-08-28 20:55:06',2),(3,33,'2026-08-31 10:53:48',5),(4,34,'2026-09-01 08:44:16',6);
/*!40000 ALTER TABLE `stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id_utilisateur` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prenom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `statut` tinyint(1) NOT NULL,
  `date_creation` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `role` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_utilisateur`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
INSERT INTO `utilisateur` VALUES (1,'Jean','Steven','steven','$2b$12$VadcJUFRcmWP.kwsXEVVnuFyC1Wu6OEc7jG72p4TjW2mwiJVvMNLq',1,'2026-08-26 22:35:58','ADMIN'),(3,'Lazare','Stevenson','Lazare','$2b$12$gJsGFTU7mZTY16Wl8dB2T.beTyLd45XuaGdp4D2n/W7rSXGqiV.Mq',1,'2026-08-30 00:29:05','ADMIN'),(4,'Lazare','Stevenson','Tmacken','$2b$12$G4OrYiOY45duJsemQMOFi.tEaAOZZYGMonlpv66ozizWSML1LoaQi',1,'2026-09-11 10:20:33','ADMIN');
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vente`
--

DROP TABLE IF EXISTS `vente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vente` (
  `id_vente` int NOT NULL AUTO_INCREMENT,
  `date_vente` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `total` decimal(10,2) NOT NULL,
  `id_client` int NOT NULL,
  `id_utilisateur` int NOT NULL,
  `statut` enum('EN_COURS','PAYEE','ANNULEE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `rabais` decimal(10,2) NOT NULL,
  `type_rabais` enum('MONTANT','POURCENTAGE') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_vente`),
  KEY `fk_vente_client_new` (`id_client`),
  KEY `fk_vente_user_new` (`id_utilisateur`),
  CONSTRAINT `fk_vente_client_new` FOREIGN KEY (`id_client`) REFERENCES `client` (`id_client`),
  CONSTRAINT `fk_vente_user_new` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id_utilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vente`
--

LOCK TABLES `vente` WRITE;
/*!40000 ALTER TABLE `vente` DISABLE KEYS */;
/*!40000 ALTER TABLE `vente` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-02  9:38:42
